/* ==UserStyle==
@name           AO3: Fonts
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    load your custom fonts
@author         ravenothere
==/UserStyle== */

@-moz-document domain("archiveofourown.org") {
@font-face {
  font-family: "Apfel Grotezk";
  src: url("https://cdn.jsdelivr.net/gh/collletttivo/apfel-grotezk@main/fonts/ApfelGrotezk-Regular.woff2");
}

@font-face {
  font-family: "Apfel Grotezk Fett";
  src: url("https://cdn.jsdelivr.net/gh/collletttivo/apfel-grotezk@main/fonts/ApfelGrotezk-Fett.woff2");
}

@font-face {
  font-family: "Domine";
  src: url("https://cdn.jsdelivr.net/gh/googlefonts/Domine@main/fonts/variable/Domine%5Bwght%5D.ttf");
}

@font-face {
  font-family: "Victor Mono Medium";
  src: url("https://cdn.jsdelivr.net/gh/rubjo/victor-mono@master/dist/woff2/VictorMono-Regular.woff2");
}
@font-face {
  font-family: "Merriweather";
  src: url("https://cdn.jsdelivr.net/gh/SorkinType/Merriweather@master/fonts/webfonts/Merriweather-Regular.woff2");
}
@font-face {
  font-family: "Figtree";
  src: url("https://cdn.jsdelivr.net/gh/erikdkennedy/figtree@master/fonts/webfonts/Figtree%5Bwght%5D.woff2");
}}